
/* Everything */
* {
	font-family: courier;
}

/*trying to see if this will change bg color for website*/
html, body {
  background-color: #A8E6F7;
  margin: 0;
  padding: 0;
}

/* Fade in the whole body */
body {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

/* Keyframes for fade-in effect */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}



/* All things in the Header container */
header {
	background-color: #A8E6F7;
}

/* The main home link at the top "Alina Kano" */
#homeLink {
	text-decoration: none;
	text-align: center;
	padding-left: 30px;
	font-family: courier;
	letter-spacing: -1px;
	font-size: 3em;   /* 1em is 16px */
	color: #000000;
}
#homeLink:visited {
	color: #000000;
}


/* The body of the page including the main links on the left and the gallery, etc (everything under the header) */
#pageBody {

}



/* The container of your main links menu on the left side */
#mainLinks {
	position: fixed;
	padding-left: 30px;
	top: 83px;
	width: 130px;
	height: 500px;
}


/* The main links for selected work, poster art, band art */
#mainLinks a {
	display: block;
	line-height: 2;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	letter-spacing: 0px;
	font-size: 14px;
	font-style: bold;
}
#mainLinks a:visited {
	color: black;
}
#mainLinks a:hover {
  color: gray;
}




/* The container for all the stuff that isn't the header or links menu */
.mainContent {
	background-color: #A8E6F7;
	padding-left: 150px;
}


/* The heading text for each page */
h1 {
	padding-top: 10px;
	padding-left: 50px;
	padding-bottom: 0px;
	font-family: courier;
	font-size: 16px;

}
h2 {
	font-size: 16px;
	padding-left: 50px;
	text-transform: uppercase;
}

/* The container of images of your works */
#imageGallery {

}

#imageGallery figure {
	margin-top: 0px;
	padding-left: 50px;
	display: block;

}

#imageGallery figure p {
	font-size: 12px;
	font-style: italic;
	text-align: left;
	padding-bottom: 20px;
	margin: 0px;
}


/* The images of works */
#imageGallery img {
	width: 600px;
	height: auto;
}
