<head>
	<link rel = "stylesheet" type = "text/css" href = "../css/pageHeader.css"/>
</head>

<!-- Header -->
<header>
	<a id="homeLink" href="../index.html">Alina Kano</a>
	<nav id="headerLinks">
		<a href="../index.html">Home</a>
		<a href="../selected-work/index.html">Selected Work</a>
		<a href="../band-art/index.html">Band Art</a>
		<a href="../poster-art/index.html">Poster Art</a>
	</nav>

	
<!--collapsible nav bar on phone - TESTING-->
	<nav class="navbar">
  <input type="checkbox" id="menu-toggle" class="hidden"/>
  <label for="menu-toggle" class="menu-icon">
    <!-- Hamburger icon, e.g., ☰ or spans -->
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </label>
  <ul class="nav-list">
    <li><a href="#">Home</a></li>
    <!-- More links -->
  </ul>
</nav>

</header>
